header {
  position: fixed;
  top: 0;
}

main {
  position: relative;
  width: 100vw;
  height: auto;
}

/********** HEADER ENIGME ********/

header {
  background: rgba(0, 0, 0, 0.2);
}

header #display {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  width: auto;
  justify-content: flex-start;
  font-weight: 300;
}

#display p {
  margin-right: 20px;
}

#display #bpm {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 13px;
  width: 43px;
  max-width: 43px;
}

#bpm span {
  font-weight: 200;
}

#bpm svg {
  height: 25%;
}

#display #battery-svg,
#display #radar-svg {
  position: relative;
  margin-right: 15px;
  height: 30%;
}

#display #radar-svg {
  fill: white;
}

#display #radar-svg.vert {
  fill: #42f88b;
}

#display #radar-svg.rouge {
  fill: #ff5d57;
}

header #header-nav {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  top: -2px;
  left: 0;
  right: 0;
  margin: auto;
  padding: 0 5px;
  height: 115%;
  width: 170px;
  border-radius: 0px 0px 15px 15px;
  background: var(--secondary);
}

#header-nav a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 80%;
  width: 25%;
  cursor: pointer;
}

#header-nav a svg {
  fill: white;
  transition: all ease-in 0.1s;
}

#header-nav a.activ svg {
  fill: var(--primary);
}

#header-nav a:hover:not(.activ) svg {
  fill: rgb(206, 206, 206);
}

/********** MAIN ENIGME ********/

main #enigme-img,
main #enigme-video {
  position: relative;
  min-height: 100vh;
  height: auto;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

main #dialogue {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 25px 25px 0px 0px;
  width: 70%;
  min-height: 25%;
  padding: 20px 30px;
}

#dialogue b {
  position: relative;
  display: inline-block;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px;
}

#dialogue b::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  background: white;
}

#dialogue p {
  font-weight: 300;
  font-size: 15px;
  text-align: justify;
}

#dialogue .next-arrow {
  position: absolute;
  right: 50px;
  bottom: 25px;
  display: flex;
  width: auto;
  height: auto;

  transition: all ease-out 0.2s;
  transform-origin: left;
}

.next-arrow:hover {
  transform: scaleX(1.2);
}

#dialogue .logo {
  position: absolute;
  top: 15px;
  right: 15px;

  height: 15px;
  width: auto;
  fill: #eeeeee;
}

main .map {
  position: fixed;
  display: inline-block;
  width: 400px;
  height: 320px;
  top: 10%;
  left: 10%;

  border: 2px solid #3f403f;
  border-radius: 19px;

  background: url(../assets/img/map.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: grab;

  transform: translateX(-1000px);
  transition: transform ease 0.3s, opacity ease 0.3s;
  opacity: 0;
  z-index: 1000;
}

main .map.activ {
  transform: translateX(0);
  opacity: 1;
}

.map.ui-draggable-dragging {
  cursor: grabbing !important;
}

.map .map-close {
  position: absolute;
  top: 7px;
  right: 7px;
  height: 12px;
  cursor: pointer;
  opacity: 0.8;
}

/********* RÉPONSE ENIGME *********/

main #enigme-cache {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  background: linear-gradient(180deg, #050505 0%, rgba(30, 30, 30, 0.2) 100%);
}

main #hero-robot {
  position: fixed;
  bottom: 0;
  right: 20px;
  width: 30%;
  transform: scaleX(-100%);
  opacity: 0.9;
}

main .reponse {
  position: fixed;
  height: auto;
  width: 60%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.reponse .enonce {
  position: relative;
  display: block;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  padding: 20px 25px;
  margin-top: 20px;
}

.enonce .logo {
  position: absolute;
  height: 15px;
  top: 10px;
  right: 10px;
  fill: #eeeeee;
}

.enonce b {
  display: block;
  font-weight: 400;
  font-size: 26px;
  margin-bottom: 10px;
}

.enonce p {
  font-size: 15px;
  font-weight: 300;
}

.enonce p span {
  display: block;
  font-weight: 500;
  margin-top: 10px;
}

.reponse form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 10px 50px;
  width: auto;

  background: #242424;
  border: 2px solid #3f403f;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin-top: 50px;
}

.reponse form input[type="number"] {
  background: #161616;
  border-radius: 10px;
  border: none;
  width: 40px;

  text-align: center;
  color: white;
  padding: 10px 0;
  font-size: 35px;
  font-weight: 700;
  margin: 0 5px;
}

.reponse form input[type="number"]:focus {
  outline: none;
}

.reponse form input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.reponse form input[type="submit"] {
  position: relative;
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 15px;
  letter-spacing: 1px;
  padding: 2px 20px;
  background: #ffffff;
  border-radius: 22px;
  border: 0;

  margin-top: 10px;
  cursor: pointer;
}

.reponse form input[type="submit"]:hover {
  background: #eeeeee;
}

@media screen and (max-width: 1024px) {
  header {
    font-size: 13px !important;
  }

  #display p {
    margin-right: 5px;
  }

  #display #bpm {
    width: 25px;
    margin-right: 3px;
  }

  #display #battery-svg,
  #display #radar-svg {
    display: none;
    height: 20%;
    margin-right: 5px;
  }

  #infos #localisation {
    margin-right: 5px;
  }

  #localisation .pin-svg {
    position: relative;
    height: 12px;
    margin-right: 3px;
  }

  #date {
    display: none;
  }

  main .reponse {
    width: 90%;
  }

  #dialogue b {
    font-size: 18px;
  }

  #dialogue p {
    font-size: 12px;
  }

  #dialogue .next-arrow {
    width: 60px;
    height: auto;
    bottom: 10px;
    right: 20px;
  }

  .reponse form {
    padding: 10px 30px;
  }

  .enonce b {
    font-size: 22px;
  }

  .enonce p {
    font-size: 12px;
  }

  .reponse form input[type="number"] {
    font-size: 25px;
  }

  .reponse form input[type="submit"] {
    font-size: 11px;
  }
}
