:root {
  --background-gradient: linear-gradient(100deg, #000000 1.62%, #2e2e2e 100%);
  --primary: #5accd0;
  --primary-dark: #53bcc0;
  --secondary: #242424;
  --secondary-dark: #181818;

  --poppins: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--poppins);
}

body {
  position: relative;
  scroll-behavior: smooth;
  background: var(--background-gradient);
  color: white;
}

header {
  position: relative;
}

main {
  position: relative;
  overflow: hidden;
}

/*********** INTRO SECTION ********/

.intro {
  position: relative;
  width: 100%;
  min-height: 700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.intro .img {
  position: relative;
  margin-left: auto;
  width: 35%;
}

.intro .img img {
  position: relative;
  height: 130%;
  width: 130%;
  margin-left: -40%;
}

.intro .text {
  position: relative;
  margin-left: auto;
  width: 65%;
  text-align: justify;
  padding-right: 3%;
}

.text h1 {
  font-size: 60px;
  color: transparent;
  -webkit-text-stroke: white 2px;
}

.text p {
  margin: 15px 0;
  font-weight: 300;
  font-size: 15px;
}

/*********** CTA SECTION ********/

section.cta {
  width: 100%;
  height: auto;

  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(assets/img/cta-background.jpg);
  background-position: center center;
}

.cta a {
  color: white;
  font-size: 22px;
  text-decoration: none;
  font-weight: 800;
  letter-spacing: 2px;
  background: var(--primary);
  padding: 10px 15px;
  margin: 45px 0;
  box-shadow: 0px 1px 15px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  transition: all ease 0.2s;
}

.cta a:hover {
  background: var(--primary-dark);
}

/*********** VIDEO SECTION ********/

section.video {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  padding: 0 2%;
  margin-top: 200px;
}

.video h2 {
  text-align: center;
  font-size: 35px;
  color: transparent;
  -webkit-text-stroke: white 1px;
}

.video video {
  display: block;
  width: 70%;
  margin: 25px auto 0 auto;
  border-radius: 20px;
  z-index: 10;
}

.video #toucan {
  position: absolute;
  height: 90%;
  width: auto;
  top: -200px;
  right: -200px;
  z-index: -1;
  transform: rotate(10deg);
}

.video #hippo {
  position: absolute;
  height: 60%;
  width: auto;
  top: -150px;
  left: -10px;
  z-index: -1;
  transform: rotate(-10deg);
}

/*********** CARDS SECTION ********/

section.cards {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 100px;

  background: url(https://images.unsplash.com/photo-1588392382834-a891154bca4d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1476&q=80);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.cards .card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 25%;
  min-height: 300px;
  margin: 50px 0;
  padding: 20px 15px;
  background: linear-gradient(
    142.52deg,
    rgba(92, 92, 92, 0.3) 4.45%,
    rgba(58, 58, 58, 0.1) 96.58%
  );
  backdrop-filter: blur(5px);
  border-radius: 30px;

  font-weight: 300;
  font-size: 14px;
  text-align: justify;
}

.card svg {
  margin-bottom: 20px;
  height: 60px;
}

.card ul {
  list-style-position: inside;
}

.card div {
  position: relative;
  width: 90%;
  margin: 0 auto 0 auto;
}

.card div p {
  margin-bottom: 10px;
}

/* RESPONSIVE */

@media screen and (max-width: 1024px) {
  .intro {
    flex-direction: column;
  }

  .intro .img {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .intro .img img {
    position: relative;
    height: 300px;
    width: auto;
    margin: auto;
  }

  .intro .text {
    margin: auto;
    width: 95%;
    padding: 0;
  }

  .video #toucan {
    display: none;
  }

  .video #hippo {
    display: none;
  }

  .video video {
    width: 95%;
  }

  section.cards {
    flex-direction: column;
  }

  .cards .card {
    width: 70%;
    min-height: auto;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 480px) {
}
